.compassBody {
  background-color: grey;
  width: 40vw;
  height: 40vw;
  border-radius: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.needle {
  width: 30vw;
  height: 30vw;
}
